 /* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #eee;
    height:33px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0 3px;
    position:relative;
    padding: 0 15px;
    top:1px;
    background-color:#fff;
    border: 1px solid #eee;
    border-top: 1px solid #975aa9;
    top: 3px;
    height: 27px;
    color:#555;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: 0 -31px;
    color:#995eab;
}

ul.tabs a.current{
    top: 0;
    border-top: 2px solid #975aa9;
    border-bottom: none;
    height: 30px;
    font-weight: bold;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: 0 -62px;
    cursor:default !important;
    color:#555 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */

ul.tabs li#fpop a{background: url(../images/icon-female.png) no-repeat 10px 5px #fff; width:76px; padding-left: 28px;}
ul.tabs li#fnew a{background: url(../images/icon-female.png) no-repeat 10px 5px #fff; width:76px; padding-left: 28px;}
ul.tabs li#mpop a{background: url(../images/icon-male.png) no-repeat 10px 5px #fff; width:76px; padding-left: 28px;}
ul.tabs li#mnew a{background: url(../images/icon-male.png) no-repeat 10px 5px #fff; width:76px; padding-left: 28px;}







/* initially all panes are hidden */
.panes .pane {
    display:none;
}

/* tab pane styling */
.panes > div {
    display:none;
    padding:15px 10px;
    border:1px solid #eee;
	border-left:none;
	border-right:none;
    border-top:0;
    height:auto;
    font-size:13px;
    background-color:#fff;
}
.panes > div > div{display:block; line-height:20px;}