/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #eee;
    height:33px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
	text-indent:-9999px;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0 3px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: 0 -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: 0 -62px;
    cursor:default !important;
    color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */

ul.tabs li#fpop a{background: url(../images/tabs/index_tab_fpop.gif) no-repeat; width:93px;}
ul.tabs li#fnew a{background: url(../images/tabs/index_tab_fnew.gif) no-repeat; width:93px;}
ul.tabs li#mpop a{background: url(../images/tabs/index_tab_mpop.gif) no-repeat; width:93px;}
ul.tabs li#mnew a{background: url(../images/tabs/index_tab_mnew.gif) no-repeat; width:93px;}

ul.tabs li#area-tab-00 a{background: url(../images/tabs/area_tab_00.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-01 a{background: url(../images/tabs/area_tab_01.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-02 a{background: url(../images/tabs/area_tab_02.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-03 a{background: url(../images/tabs/area_tab_03.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-04 a{background: url(../images/tabs/area_tab_04.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-05 a{background: url(../images/tabs/area_tab_05.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-06 a{background: url(../images/tabs/area_tab_06.gif) no-repeat; width:71px;}
ul.tabs li#area-tab-07 a{background: url(../images/tabs/area_tab_07.gif) no-repeat; width:71px;}

ul.tabs li#info-01 a{background: url(../images/tabs/info_tab_01.gif) no-repeat; width:151px;}
ul.tabs li#info-02 a{background: url(../images/tabs/info_tab_02.gif) no-repeat; width:151px;}
ul.tabs li#info-03 a{background: url(../images/tabs/info_tab_03.gif) no-repeat; width:93px;}
ul.tabs li#info-04 a{background: url(../images/tabs/info_tab_04.gif) no-repeat; width:117px;}

ul.tabs li#fpop a:hover, ul.tabs li#fnew a:hover,
ul.tabs li#mpop a:hover, ul.tabs li#mnew a:hover,
ul.tabs li#area-tab-00 a:hover, ul.tabs li#area-tab-01 a:hover,
ul.tabs li#area-tab-02 a:hover, ul.tabs li#area-tab-03 a:hover,
ul.tabs li#area-tab-04 a:hover, ul.tabs li#area-tab-05 a:hover,
ul.tabs li#area-tab-06 a:hover, ul.tabs li#area-tab-07 a:hover,
ul.tabs li#info-01 a:hover, ul.tabs li#info-02 a:hover,
ul.tabs li#info-03 a:hover, ul.tabs li#info-04 a:hover
{background-position: 0 -31px;}


ul.tabs li#fpop a.current, ul.tabs li#mpop a.current,
ul.tabs li#fnew a.current, ul.tabs li#mnew a.current,
ul.tabs li#area-tab-00 a.current, ul.tabs li#area-tab-01 a.current,
ul.tabs li#area-tab-02 a.current, ul.tabs li#area-tab-03 a.current,
ul.tabs li#area-tab-04 a.current, ul.tabs li#area-tab-05 a.current,
ul.tabs li#area-tab-06 a.current, ul.tabs li#area-tab-07 a.current,
ul.tabs li#info-01 a.current, ul.tabs li#info-02 a.current,
ul.tabs li#info-03 a.current, ul.tabs li#info-04 a.current
{background-position: 0 -62px;}



/* initially all panes are hidden */
.panes .pane {
    display:none;
}

/* tab pane styling */
.panes > div {
    display:none;
    padding:15px 10px;
    border:1px solid #eee;
	border-left:none;
	border-right:none;
    border-top:0;
    height:auto;
    font-size:13px;
    background-color:#fff;
}
.panes > div > div{display:block; line-height:20px;}